* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul {
    list-style-type: none;
}

/* section */
.row {
    display: flex;
    flex-wrap: wrap;

}

.bottom-section {
    height: 60px;
    background-color: black;
    position: absolute;
    width: 100%;
    display: flex;
    font-size: 10px;
}

.top-section {
    height: calc(100vh - 60px);
    background-color: red;
    display: flex;
}

.sidebar {
    width: 40px;
    background-color: black;

}

.main-content {
    width: calc(100vw - 40px);
    background-color: violet;
}

header {
    position: fixed;
    left: 40px;
    top: 0;
    z-index: 1;
    background-color: black;
    width: calc(100vw - 40px);
    text-align: right;
}

.left-col,
.right-col {
    width: 20%;
    height: 100%;

}

.center-col {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.img-song,
.icons-folder {
    width: 25%;
}

.list-song {
    width: 50%;
}

.menu {
    list-style: none;
    display: flex;
    margin-top: 75px;
    font-size: 20px;
}

.copertina1 {
    width: 100px;
    height: 100px;
    margin: 15px;
}

.copertina2 {
    width: 100px;
    height: 100px;
    margin: 15px;
}

.copertina3 {
    width: 100px;
    height: 100px;
    margin: 15px;
}

.copertina4 {
    width: 100px;
    height: 100px;
    margin: 15px;
}

.copertina5 {
    width: 100px;
    height: 100px;
    margin: 15px;
}

.copertina6 {
    width: 100px;
    height: 100px;
    margin: 15px;
}


/* utility */

.btn-upgrade {
    border-radius: 25px;
    padding: 10px;
    border: 2px solid white;
    background-color: black;
    margin: 10px;

}

.float-left {
    float: left;
}

.resize-icons {
    width: 20px;
    height: auto;
}

.txt-center {
    text-align: center;
}

.margin-icons {
    margin-top: 5px;
    margin-left: 10px;
}

.margin-top-end {
    margin-top: 520px;
}

.display-inline {
    display: inline;
}

.song-resize {
    width: 100%;
    height: auto;
}


.playbar-controls {
    display: flex;
    width: 100%;
}

.playbar-controls .current,
.playbar-controls .end {
    width: 15%;
}

.playbar-controls .playbar {
    width: 70%;
    background-color: white;
    height: 4px;
    margin-right: 5px;
    margin-top: 4px;
}

.buttons-list {
    display: flex;
    justify-content: center;
    list-style: none;
}


.buttons-list li {
    margin: 10px;
    font-size: 20px;
}


.text-size {
    font-size: 5px;
}






/* color */

.bg-red {
    background-color: red;
}

.bg-black {
    background-color: black;

}

.bg-green {
    background-color: green;
}

.bg-yellow {
    background-color: yellow;
}



.text-white {
    color: white;
}





@media screen and (min-width: 786px) {

    .sidebar {
        width: 250px;
    }

    .main-content {
        width: calc (100vw - 250px);
    }

    header {
        left: 250px;
        width: calc (100vw - 250px);
    }
}


}